<!DOCTYPE html>
<html>
  <head>
    <title>Data Test</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="/socketio/socket.io.min.js"></script>
    <script src="/common.js"></script>
    <style>
        body {
            font-family: "Poppins",-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"
        }
    </style>
  </head>
  <body class="flex items-center justify-center w-screen h-screen bg-[black]">
    <div class="text-white bg-[#0d0d0d] w-full h-full">
      <div class="flex flex-row items-center justify-center mx-auto p-3">
        <div id="count" class="text-[16px]"></div>
        <div class="flex flex-row items-left px-3 ml-3">
          <a class="text-[16px] w-[40px] hover:font-bold hover:underline" href="javascript:setDuration(0)">5M</a>
          <a class="text-[16px] w-[40px] hover:font-bold hover:underline" href="javascript:setDuration(1)">1H</a>
          <a class="text-[16px] w-[40px] hover:font-bold hover:underline" href="javascript:setDuration(2)">6H</a>
          <a class="text-[16px] w-[40px] hover:font-bold hover:underline" href="javascript:setDuration(3)">24H</a>
        </div>
        <input id="search" type="text" placeholder="Search..." onChange="updateSearch()" class="text-[black] px-1 w-[300px]"/>
      </div>
      <div class="flex flex-col items-center justify-center px-3">
        <div id="data-table" class="flex flex-col"></div>
      </div>
    </div>
    
  </body>
  <script type="text/javascript">
    var count = 0
    var duration = 0
    var sort = "score"
    var sort_dir = "desc"
    var skip = 0
    var limit = 50
    var idle = true

    var search = ''

    var socket = io(location.origin + "/socket.io/st", {debug: true});
    
    socket.on('connect', () => {
        console.log('Connected to server')
        // get_pairs()
        subscribe_pairs()
    })
    socket.on('disconnect', () => {
        console.log('Disconnected from server')
    })

    function get_pairs() {
        socket.emit('data', {
            type: "GET_PAIRS", 
            data: {
                duration, sort, sort_dir, skip, limit
            }
        }, pairs_callback)
    }

    function pairs_callback(data) {
        if (data != undefined && data.data != undefined) {
            console.log(data.type)
            setData(data.data)
        } else {
            console.log(data)
        }
    }

    function subscribe_pairs() {
        // get_pairs()
        if (search != ''){
            socket.emit('subscribe', {
                type: "SUBSCRIBE_PAIRS_SEARCH", 
                data: {
                    search, skip, limit
                }
            }, pairs_callback)
        } else {
            socket.emit('subscribe', {
                type: "SUBSCRIBE_PAIRS", 
                data: {
                    duration, sort, sort_dir, skip, limit
                }
            }, pairs_callback)
        }
    }

    socket.on('message', (data) => {
        console.log(data.type)
        if (data.type == 'PAIRS_DATA') {
            pairs_callback(data)
        }
    })

    socket.on('reply_message', (data) => {
        console.log(data)
    })
    
    function updateSearch() {
        search = document.getElementById('search').value
        subscribe_pairs()
    }

    function setDuration(v) {
      duration = v
      subscribe_pairs()
    }
    function setSort(v) {
      sort = v
      subscribe_pairs()
    }
    function setSkip(v) {
      skip = v
      subscribe_pairs()
    }
    function setLimit(v) {
      limit = v
      subscribe_pairs()
    }
    function setPair(v) {
      location.href = "/trade/" + v
    }
    function setData(data) {
      var html = ""
      html +=
        '<div class="data_row flex mx-auto w-full bg-[#39393E] text-[18px]">\
            <a class="data_cell flex items-center justify-center border border-solid border-[#2E2E33] w-[400px] h-[40px] text-center font-bold hover:underline" href="javascript:setSort(\'score\')"> pair </a>\
            <a class="data_cell flex items-center justify-center border border-solid border-[#2E2E33] w-[180px] h-[40px] text-center font-bold hover:underline" href="javascript:setSort(\'price\')"> price </a>\
            <a class="data_cell flex items-center justify-center border border-solid border-[#2E2E33] w-[110px] h-[40px] text-center font-bold hover:underline" href="javascript:setSort(\'txns\')"> txns </a>\
            <a class="data_cell flex items-center justify-center border border-solid border-[#2E2E33] w-[170px] h-[40px] text-center font-bold hover:underline" href="javascript:setSort(\'volume\')"> volume </a>\
            <a class="data_cell flex items-center justify-center border border-solid border-[#2E2E33] w-[110px] h-[40px] text-center font-bold hover:underline" href="javascript:setSort(\'makers\')"> makers </a>\
            <a class="data_cell flex items-center justify-center border border-solid border-[#2E2E33] w-[130px] h-[40px] text-center font-bold hover:underline" href="javascript:setSort(\'d_price\')"> price ratio </a>\
            <a class="data_cell flex items-center justify-center border border-solid border-[#2E2E33] w-[150px] h-[40px] text-center font-bold hover:underline" href="javascript:setSort(\'liq\')"> liquidity </a>\
            <a class="data_cell flex items-center justify-center border border-solid border-[#2E2E33] w-[150px] h-[40px] text-center font-bold hover:underline" href="javascript:setSort(\'mcap\')"> market cap </a>\
        </div>'
      for (var i = 0; i < data.length; i++) {
        // assert(data[i].type == 'PAIR_DATA')
        row = data[i].data
        st = row["st" + duration]
        html +=
          '<div class="data_row flex hover:bg-[#3A3A44] cursor-pointer mx-auto w-full text-[16px] bg-[#1D1D22]" onclick="setPair(\'' + row["poolAddress"] + "')\">" +
            '<div class="data_cell flex items-center border border-solid border-t-[transparent] pl-3 border-[#2E2E33] w-[400px] h-[35px] pr-2 justify-start text-center">' +
                '<div class="flex flex-row items-center justify-center text-[14px] text-[#AAA]">' +
                    '<img src="' + row["dexImage"] + '" alt="'+ row["dex"] +'" style="width:20px; margin-right: 5px">' +
                '</div>' + 
                '<div class="font-bold">' + (row["baseSymbol"] == "" ? formatString(row["baseMint"]) : row["baseSymbol"]) + "</div>" +
                '<div class="mr-3 text-[#888]"> / ' + (row["quoteSymbol"] == "" ? formatString(row["quoteMint"]) : row["quoteSymbol"]) + "</div>" +
                '<div class="flex flex-row items-center justify-center text-[14px] text-[#AAA]">' +
                    '<img src="' + row["baseImage"] + '" style="width:20px; margin-right: 5px">' + row["baseName"] + 
                '</div>' + 
                '<a className="ml-2" style="margin-left: 10px" href="https://solscan.io/account/' + row["poolAddress"] +'">' +
                    '<svg stroke="currentColor" fill="currentColor" strokeWidth="0" viewBox="0 0 512 512" focusable="false" className="chakra-icon custom-13otjrl" ' +
                    ' height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">' +
                        '<path d="M432,320H400a16,16,0,0,0-16,16V448H64V128H208a16,16,0,0,0,16-16V80a16,16,0,0,0-16-16H48A48,48,0,0,0,0,112V464a48,48,0,0,0,48,48H400a48,48,0,0,0,48-48V336A16,16,0,0,0,432,320ZM488,0h-128c-21.37,0-32.05,25.91-17,41l35.73,35.73L135,320.37a24,24,0,0,0,0,34L157.67,377a24,24,0,0,0,34,0L435.28,133.32,471,169c15,15,41,4.5,41-17V24A24,24,0,0,0,488,0Z">' +
                        '</path>' +
                    '</svg>' +
                  '</a>' +
            "</div>" +
            '<div class="data_cell flex items-center border border-solid border-t-[transparent] border-[#2E2E33] w-[180px] h-[35px] pr-2 justify-end text-right">$ ' + f(row["price"]) + '</div>\
            <div class="data_cell flex items-center border border-solid border-t-[transparent] border-[#2E2E33] w-[110px] h-[35px] pr-2 justify-end text-right">' + f(st["txns"]) + '</div>\
            <div class="data_cell flex items-center border border-solid border-t-[transparent] border-[#2E2E33] w-[170px] h-[35px] pr-2 justify-end text-right">$ ' + f(st["volume"]) + '</div>\
            <div class="data_cell flex items-center border border-solid border-t-[transparent] border-[#2E2E33] w-[110px] h-[35px] pr-2 justify-end text-right">' + f(st["makers"]) + '</div>\
            <div class="data_cell flex items-center border border-solid border-t-[transparent] border-[#2E2E33] w-[130px] h-[35px] pr-2 justify-center text-center '+
            (Number(st["d_price"]) > 0 ? "text-[#48BB78]" : Number(st["d_price"]) < 0 ? "text-[#F56565]" : "text-[#888]")+'">' + formatDPrice(st["d_price"]) + '%</div>\
            <div class="data_cell flex items-center border border-solid border-t-[transparent] border-[#2E2E33] w-[150px] h-[35px] pr-2 justify-end text-right">$ ' + f(row["liq"]) + '</div>\
            <div class="data_cell flex items-center border border-solid border-t-[transparent] border-[#2E2E33] w-[150px] h-[35px] pr-2 justify-end text-right">$ ' + f(row["mcap"]) + "</div>\
           </div>"
      }
      element = document.getElementById("data-table")
      if (element != undefined)
        element.innerHTML = html
    }
    
  </script>
</html>
