<!DOCTYPE html>
<html>
  <head>
    <title>pool Detail</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="/common.js"></script>
    <script src="/charting_library/charting_library.js"></script>
    <script src="/socketio/socket.io.min.js"></script>
    <style>
        body {
            font-family: "Poppins",-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"
        }
        .data_row {
            -webkit-transition: all .2s ease-out;
            transition: all .2s ease-out;
        }
    </style>
  </head>
  <body class="flex items-center justify-center w-screen h-screen bg-[black]">
    <div class="text-#2E2E33 bg-[#0d0d0d] w-full h-full">
      <div id="count" class="text-[16px]"></div>

      <div class="flex flex-col items-center justify-center px-3">
        <div
          id="tv_chart_container"
          class="flex items-center justify-center w-[1200px] h-[500px] m-5"
        ></div>
        <div id="data-table" class="flex flex-col">
            <button class="flex items-center justify-center text-[white] text-[15px] ml-4" onclick="goBack()">Back...</button>\
            <div class="data_row flex mx-auto w-full bg-[#39393E] text-[18px] font-bold text-[white]">
                <a class="data_cell flex items-center justify-center border border-solid border-[#2E2E33] w-[220px] h-[40px] text-center" href="javascript:setTxSort(\'blockTime\');"> DATE(GMT) </a>
                <a class="data_cell flex items-center justify-center border border-solid border-[#2E2E33] w-[120px] h-[40px] text-center" href="javascript:setTxSort(\'type\');"> TYPE </a>
                <a class="data_cell flex items-center justify-center border border-solid border-[#2E2E33] w-[160px] h-[40px] text-center" href="javascript:setTxSort(\'volume\');"> USD </a>
                <a class="data_cell flex items-center justify-center border border-solid border-[#2E2E33] w-[180px] h-[40px] text-center" href="javascript:setTxSort(\'baseAmount\');" id="baseSymbol"></a>
                <a class="data_cell flex items-center justify-center border border-solid border-[#2E2E33] w-[180px] h-[40px] text-center" href="javascript:setTxSort(\'quoteAmount\');" id="quoteSymbol"></a>
                <a class="data_cell flex items-center justify-center border border-solid border-[#2E2E33] w-[160px] h-[40px] text-center" href="javascript:setTxSort(\'price\');"> PRICE </a>
                <a class="data_cell flex items-center justify-center border border-solid border-[#2E2E33] w-[180px] h-[40px] text-center" href="javascript:setTxSort(\'signer\');"> MAKER </a>
            </div>
            <div id="data_list">

            </div>
        </div>
      </div>
    </div>
  </body>
    <script type="text/javascript">
        var count = 0;
        var duration = 0;
        var skip = 0;
        var limit = 10;
        var pool = "{{pool}}";
        var filter = "";
        var idle = true;

        var txsData = []
        var chart;

        var socket = io(location.origin + "/socket.io/tx", {debug: true});
        // var socket = io(location.origin + "/socket.io/")
        socket.on('connect', () => {
            console.log('Connected to server')
            if (chart == undefined) init();
            get_historical_txs()
            socket.emit('subscribe', {
                type: "TXS_DATA_REALTIME",
                data: {
                    pool, filter
                }
            })
        })
        socket.on('disconnect', () => {
            console.log('Disconnected from server')
        })

        function get_historical_txs() {
            socket.emit('data', {
                type: "TXS_DATA_HISTORICAL", 
                data: {
                    pool, filter, skip, limit
                }
            }, (data) => {
                console.log(data.type)
                addTxData(data)
            })
        }

    //    {
    //     "type": "RANK_DATA",
    //     "data": {
    //         "queryType": "simple",
    //         "chartType": "1m",
    //         "address": "7qbRF6YsyGuLUVs6Y1q64bdVrfe4ZcUUz1JRdoVNUJnm",
    //         "currency": "pair"
    //     }
    // }
        socket.on('TX_DATA', (data) => {
            console.log(data.type)
            addTxData(data, true)
        })

        socket.on('message', (data) => {
            console.log('--- message ---: ' + data.type)
            // if (data.type == 'TXS_DATA_HISTORICAL') {
                // setTxData(data)
            // } else 
            // if (data.type == 'TXS_DATA_REALTIME') {
            // }
        })

        socket.on('reply_message', (data) => {
            console.log(data)
        })

        function setDuration(v) { duration = v; fetchData(); }
        function setpool(v) { pool = v; fetchData(); }
        function setTxSort(v) { sort = v; fetchData(); }
        function setSkip(v) { skip = v; fetchData(); }
        function setLimit(v) { limit = v; fetchData(); }
        function goBack() {
            location.href = location.origin;
        }
        function getRowString(row) {
            return '<div class="data_row hover:bg-[#3A3A44] cursor-pointer flex mx-auto w-full text-[16px] bg-[#1D1D22]">' +
                        '<div class="data_cell flex items-center border border-solid border-t-[transparent] border-[#2E2E33] w-[220px] h-[35px] pr-2 justify-center text-[#848489] text-right"> ' +
                            formatDate(Number(row["blockUnixTime"]) * 1000) +
                        '</div>\
                        <div class="data_cell flex items-center border border-solid border-t-[transparent] border-[#2E2E33] w-[120px] h-[35px] pr-2 justify-center ' +
                            ((row["from"]["type"] == "Buy" || row["from"]["type"] == "Add") ? "text-[#48BB78]" : "text-[#F56565]") + ' text-right">' + row["from"]["type"] + '</div>\
                        <div class="data_cell flex items-center border border-solid border-t-[transparent] border-[#2E2E33] w-[160px] h-[35px] pr-2 justify-end ' +
                            ((row["from"]["type"] == "Buy" || row["from"]["type"] == "Add") ? "text-[#48BB78]" : "text-[#F56565]") + ' text-right"> ' + f(row["volumeUSD"]) +'</div>\
                        <div class="data_cell flex items-center border border-solid border-t-[transparent] border-[#2E2E33] w-[180px] h-[35px] pr-2 justify-end ' +
                            ((row["from"]["type"] == "Buy" || row["from"]["type"] == "Add") ? "text-[#48BB78]" : "text-[#F56565]") + ' text-right">' + f(row["from"]["amount"]) +'</div>\
                        <div class="data_cell flex items-center border border-solid border-t-[transparent] border-[#2E2E33] w-[180px] h-[35px] pr-2 justify-end ' +
                            ((row["from"]["type"] == "Buy" || row["from"]["type"] == "Add") ? "text-[#48BB78]" : "text-[#F56565]") + ' text-center">' + f(row["to"]["amount"]) + '</div>\
                        <div class="data_cell flex items-center border border-solid border-t-[transparent] border-[#2E2E33] w-[160px] h-[35px] pr-2 justify-end ' +
                            ((row["from"]["type"] == "Buy" || row["from"]["type"] == "Add") ? "text-[#48BB78]" : "text-[#F56565]") + ' text-right">$ ' + ((row["from"]['type'] == "Buy" || row["from"]['type'] == "Sell") ? f(row["from"]["price"]) : '-') + '</div>\
                        <div class="data_cell flex items-center border border-solid border-t-[transparent] border-[#2E2E33] w-[180px] h-[35px] pr-2 justify-end ' +
                            ((row["from"]["type"] == "Buy" || row["from"]["type"] == "Add") ? "text-[#48BB78]" : "text-[#F56565]") + ' text-right"> ' + formatString(row["owner"]) + 
                            '<a className="ml-2" style="margin-left: 10px" href="https://solscan.io/account/'+ row['owner'] + '\"}>' +
                                '<svg stroke="currentColor" fill="currentColor" strokeWidth="0" viewBox="0 0 512 512" focusable="false" className="chakra-icon custom-13otjrl" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">' +
                                    '<path d="M432,320H400a16,16,0,0,0-16,16V448H64V128H208a16,16,0,0,0,16-16V80a16,16,0,0,0-16-16H48A48,48,0,0,0,0,112V464a48,48,0,0,0,48,48H400a48,48,0,0,0,48-48V336A16,16,0,0,0,432,320ZM488,0h-128c-21.37,0-32.05,25.91-17,41l35.73,35.73L135,320.37a24,24,0,0,0,0,34L157.67,377a24,24,0,0,0,34,0L435.28,133.32,471,169c15,15,41,4.5,41-17V24A24,24,0,0,0,488,0Z">' +
                                    '</path>' +
                                '</svg>' +
                            '</a>' +
                        '</div>\
                    </div>';
        }
        function addTxData(data, is_front = false) {
            if (data['data'] == undefined) return
            if (data['baseSymbol'] != undefined)
                document.getElementById("baseSymbol").innerHTML = formatString(data["baseSymbol"])
            if (data['quoteSymbol'] != undefined)
                document.getElementById("quoteSymbol").innerHTML = formatString(data["quoteSymbol"])
            var html = "";
            for (var i = 0; i < data["data"].length; i++) {
                html += getRowString(data['data'][i])
            }
            var prev_html = document.getElementById("data_list").innerHTML
            var new_html = is_front ? html + prev_html : prev_html + html
            list = document.getElementById("data_list")
            list.innerHTML = new_html;
            skip += data['data'].length

            while(list.children.length > 100)
                list.children[100].remove()
        }
        function fetchData() {
            document.getElementById("data_list").innerHTML = ""
            skip = 0
            limit = 10
            get_historical_txs();
            return
            // if (!idle || pool == undefined || pool == "") return;
            // idle = false;
            // count++;
            // document.getElementById("count").innerHTML = "request: " + count;
            // fetch(
            //     "/api/tx/query?pool=" +
            //     pool +
            //     "&sort=" +
            //     sort +
            //     "&skip=" +
            //     skip +
            //     "&limit=" +
            //     limit +
            //     ""
            // )
            // .then((response) => response.json())
            // .then((data) => {
            //     idle = true;
            //     setTxData(data)
            // })
            // .catch((error) => {
            //     idle = true;
            //     console.error("Error:", error);
            // });
        }

        // fetchData();
        //setInterval(fetchData, 1000);

    </script>
    <script src="/tradingview/datafeed.js"></script>

    <script type="text/javascript">

        var idle = false;

        var interval = 1;

        function init() {
            const offset = (-1 * new Date().getTimezoneOffset()) / 60;

            symbol = "A";
            if (symbol && interval) {
                chart = window.tvWidget = new window.TradingView.widget({
                enabled_features: ["custom_resolutions"],
                allowed_time_frames: [
                    "1m",
                    "3m",
                    "5m",
                    "15m",
                    "30m",
                    "1h",
                    "2h",
                    "4h",
                    "1d",
                    "1w",
                    "1M",
                ],
                has_intraday: true,
                symbol: symbol,

                fullscreen: false,
                width: "100%",
                height: "100%",
                container_id: "tv_chart_container",
                datafeed: Datafeed(pool),
                library_path: "/charting_library/",
                toolbar_bg: "#0b1217",
                overrides: {
                    // "paneProperties.rightMargin": 0,
                    "paneProperties.background": "#0b1217",
                    "paneProperties.backgroundType": "solid",
                    "paneProperties.backgroundGradientEndColor": "#0b1217",
                    "paneProperties.backgroundGradientStartColor": "#0b1217",
                    "paneProperties.vertGridProperties.color": "#E3E3E5", // Grid Vertical Lines Color
                    "paneProperties.horzGridProperties.color": "#E3E3E5", // Grid Horizontal Lines Color
                    "mainSeriesProperties.candleStyle.upColor": "#11CC9A", // Up Candle Color
                    "mainSeriesProperties.candleStyle.downColor": "#E20E7C", // Down Candle Color
                    "mainSeriesProperties.candleStyle.borderUpColor": "#11CC9A", // Up Candle Border Color
                    "mainSeriesProperties.candleStyle.borderDownColor": "#E20E7C", // Down Candle Border Color
                    "mainSeriesProperties.candleStyle.drawBorder": false, // Disable candle borders
                    "mainSeriesProperties.minTick": "100000000,1,false",
                    // "scalesProperties.textSize": 18,
                    // "scalesProperties.showLeftScale": false,
                },
                disabled_features: ["header_symbol_search"],
                time_frames: timeFrames,
                theme: "Dark",
                timezone: TIMEZONE[offset][0],
                interval: interval,
                });

                chart.onChartReady(async () => {
                chart.activeChart().setTimezone("UTC");
                });
            }
        }
    </script>
</html>
